.table{
    border-collapse: collapse;
}

.table__data{
    border: 1px solid;
    height: 20px;
    height: 30px;
}

.table__date{
    width: 132px;
    padding-left: 10px;
}

.table__name{
    width: 270px;
    padding: 0;
}